.maxvh {
  height: 100vh;
}

.maxvw {
  width: 100vw;
}

.modal-container-color {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-layout {
  @apply grid grid-rows-8 maxvh pt-2 pb-6 md:pb-2 px-8 gap-4;
}

.pagination-container {
  @apply items-center row-span-1 py-2 grid grid-cols-7 text-primary
  text-lg lg:grid-cols-11 lg:font-bold;
}

.modal-background {
  @apply modal-container-color fixed maxvh maxvw bg-white z-50 top-0 left-0
  flex items-center justify-center;
}

.modal-container {
  @apply px-4 w-5/6 bg-slate-50 relative md:translate-x-24 md:w-2/3
  lg:w-1/2 py-4;
}

.close-btn-modal {
  @apply text-red-700 absolute top-0 right-1 font-bold text-xl;
}

/* DELETE MODAL */

.modal-header-container {
  @apply flex flex-col gap-2;
}

.modal-header-text {
  @apply my-4 font-bold font-title text-lg md:text-xl md:my-6 lg:text-2xl;
}

.modal-body-container {
  @apply flex flex-col text-sm text-primary lg:text-base;
}

.delete-modal-confirmation-btn {
  @apply bg-red-800 mx-auto text-white px-2 py-1 w-1/2;
}

/* EDIT MODAL */

.form-container {
  @apply grid grid-rows-8 py-4 text-primary gap-3 overflow-auto;
}

/* CONFIRMATION MODAL */

.conf-modal-background {
  @apply fixed w-full h-full z-30 top-0 left-0 flex items-center justify-center bg-white modal-container-color;
}

.conf-modal-container {
  @apply px-4 w-1/2 bg-slate-50 relative md:w-full lg:w-full py-4 shadow-md shadow-primary;
}

.conf-modal-header-text {
  @apply mt-4 mb-1 font-bold font-title text-lg md:text-xl lg:text-2xl;
}

.conf-modal-btn-container {
  @apply flex flex-row gap-4;
}

.conf-modal-btn-confirm {
  @apply py-1 px-2 bg-primary text-white;
}

.conf-modal-btn-cancel {
  @apply py-1 px-2 bg-red-800 text-white hover:cursor-pointer;
}

/* PRODUCT & CATEGORIES */

.product-and-category-body-container {
  @apply row-span-10 grid gap-2 lg:gap-2;
}

.render-data-container {
  @apply font-semibold text-primary grid grid-rows-4 md:grid-rows-2
  md:grid-cols-2 items-start gap-2 text-xl lg:text-4xl md:text-3xl lg:gap-6 py-2;
}

.btn-disabled {
  @apply disabled:bg-white disabled:border-2
  disabled:border-primaryLight disabled:cursor-not-allowed disabled:text-slate-300;
}
